<div class="lost-pwd-container">
  <h2>Lost password?</h2>
  <%= form_tag admin_password_resets_path, method: :post do %>
      <%= text_field_tag :email, params[:email], placeholder: 'Email address' %>
      <br/>
      <%= submit_tag 'Reset my password', class: "btn btn-large" %>
  <% end %>
</div>
