<div class="row">
  <div class="column small-6 small-offset-3">
    <h2>Lost password?</h2>
    <%= form_tag admin_password_resets_path, method: :post do %>
      <%= text_field_tag :email, params[:email], placeholder: 'Email address' %>
      <%= submit_tag 'Reset my password', class: "button large" %>
    <% end %>
  </div>
</div>
