<br>
<br>
<br>

<div class="row">
  <div class="column small-6 small-offset-3">
    <h3>We sent you an email</h3>
    <p>Ok, we've sent an email with instructions on how to reset your password to <strong><%= params[:email] %>
    </strong>
    </p>
  </div>
</div>
