<%= content_for :extra_nav do %>
    | <%= link_to 'Edit CV', edit_cv_path(current_user.username) %>
<% end %>

<% if @cv.nil? %>
  <div class="no-cv">
    <% if @user == current_user  %>
        You haven't created your CV yet.  <%= link_to 'Create it now', edit_cv_path(@user.username) %>
    <% else %>
        This user has not created their CV yet.  Check back soon!
    <% end %>
  </div>
<% else %>
    <div class="cv-container">
      <%= markdown @cv.markdown %>
    </div>
<% end %>
