.navbar-logo {
  height: 38px;
}

.navbar-login-form {
  .row {
    height: 0;
  }

  input {
    margin: 0;
    width: 100%;
  }

  .instructions {
    margin-top: 0.3em;
    text-align: right;
  }

  .forgot-password-text {
    margin-top: 0.7em;
    font-size: 80%;
    text-align: left;
  }
}
