// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.change-password {
  margin: 10px 10px 10px 0;
}

.change-password input[type=checkbox] {
  margin: 5px 5px 5px 5px;
}

.user-container {
  margin: 0 auto;
  width: 400px;
  padding-top: 20px;
}