<div class="row">
  <div class="columns small-6 small-offset-3">
    <h2>User Profile</h2>
    <%= render 'form' %>
  </div>
</div>

<%= content_for :inline_script do %>
    <script type="text/javascript">
      $(function() {
          var changePwd = $('<div class="change-password">');
          changePwd.append($('<label><input name="change_password" type="checkbox"> Change password</label>'));
          $('#user_password').before(changePwd);

          $('.change-password input[type=checkbox]').click(setChangePasswordState);

          <% if params[:change_password] %>
          $('.change-password input[type=checkbox]').prop('checked', 'checked');
          <% end %>

          setChangePasswordState();

          function setChangePasswordState() {
              if ($('.change-password input[type=checkbox]').prop('checked')) {
                  enablePasswordFields();
              } else {
                  disablePasswordFields();
              }
          }

          function enablePasswordFields() {
              $('#user_password,#user_password_confirmation').enable().show();
          }

          function disablePasswordFields() {
              $('#user_password,#user_password_confirmation').disable().hide();
          }
      });
    </script>
<% end %>
