<%= content_for :inline_script do %>
    <script type="text/javascript">
      $(function() {
          $('#users').dataTable();
      });
    </script>
<% end %>

<br>
<div class="row">
  <div class="columns">
    <h2>Users</h2>

    <%= datatable_for 'users', fields: %w[Username Email], search_columns: true %>

    <hr>
    <%= link_to new_admin_user_path, class: 'button' do %>
      <%= fa_icon 'user', text: 'New User' %>
    <% end %>
  </div>
</div>
