<%= content_for :inline_script do %>
    <script type="text/javascript">
      $(function() {
          $('#users').dataTable();
      });
    </script>
<% end %>

<h2>Users</h2>

<%= datatable_for 'users', fields: %w[Username Email], search_columns: true %>

<br/>
<%= link_to 'New User', new_admin_user_path %>
