<h2>User details</h2>

<p>
  <b>Username: </b> <%= @user.username %>
</p>

<p>
  <b>Email:</b> <%= @user.email %>
</p>

<%= link_to 'Show CV', show_cv_path(@user.username) %>

<br/>

<%= link_to 'Back', admin_users_path %>
