<%= link_to 'Home', root_path %>
<% if logged_in? %>
    | <%= link_to 'Profile', edit_admin_user_path(current_user) %>
    <div class="session-container">
      <%= link_to 'Logout', admin_logout_path %>
    </div>
<% else %>
<% end %>